@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" enctype="multipart/form-data" method="post" class="ui form" id="registerForm">
    <h4>Create a new account.</h4>
    <hr />

    <div asp-validation-summary="All" class="ui error message"></div>
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" id="Name"/>
        <span asp-validation-for="Name" class="ui error message"></span>
    </div>

    <div class="field">
        <label asp-for="Email"></label>
        <input asp-for="Email" id="Email" />
        <span asp-validation-for="Email" class="ui error message"></span>
    </div>
    <div class="field">
        <label asp-for="Password"></label>
        <input asp-for="Password" id="Password" />


    </div>
    <div class="field">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" id="ConfirmPassword" />


    </div>
    <div class="field">
        <label asp-for="ProfilePicture" class="ui button"></label>
        <input asp-for="ProfilePicture" type="file" style="display: none;" />
    </div>
    <button type="submit" class="ui button">Register</button>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
