
@media (max-width: 300px) {
    #mainText {
        font-size: 5em;
    }
}

@media (min-width: 300px) {
    #mainText {
        font-size: 5em;
    }
}

.lightFont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
#mainText {
    font-weight: 100;
 
    margin-top: 15px;
}

#mainSubtitle {
    margin-top: -30px;
}
.songName {
    font-weight: bold;
}

.bulletPoint {
    margin-left: 2px;
    margin-right: 2px;
}

.songAuthor {
    font-weight: lighter;
}

#playIcon {
    cursor: pointer;
}

#moreBody {
    margin-top: 20px;
}

.profile-picture {
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.showMoreButton {
    float: right;
    margin-top: 5px;
}

.mainHeader {
    margin-top: 15px;
}