@using Microsoft.EntityFrameworkCore
@using The_Powerpointer.Data

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

@model ShowMoreViewModel

@{

    var user = await UserManager.GetUserAsync(User);
    

}
<div id="moreBody">
    @if (Model.Pictures != null)
    {
        <div class="ui two stackable cards">
            @foreach (var p in Model.Pictures)
            {
                <div class="ui fluid card">
                    <div class="image">
                        <img src="~/media/pictures/@p.Source" />
                    </div>
                    <div class="content">
                        <div class="header">@p.Name</div>
                        <div class="meta">@p.Author</div>
                    </div>
                </div>
            }
       
        </div>
    }

    
    else
    {
        <div class="ui four doubling stackable cards">
            @foreach (var n in Model.News)
            {
                var fav = false;
                if (user != null)
                {
                    var news = DbContext.UserNews.SingleOrDefault(un => un.NewsId == n.Id && un.ApplicationUserId == user.Id);
                    if (news != null)
                    {
                        fav = true;
                    }
                }
                @Html.Partial("_NewsCard", new NewsCardViewModel
                {
                    News = n,
                    Favorited = fav
                })
            }
        </div>
    }
</div>
