@using Newtonsoft.Json.Linq
@using The_Powerpointer.Data

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext
@model IEnumerable<News>
@{
    ViewData["Title"] = "TenYearsAgo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<div class="ui six doubling stackable cards">
    @foreach (var n in Model.Take(100))
    {
        var favorited = false;
        if (user != null)
        {
            favorited = DbContext.UserNews.SingleOrDefault(un => un.ApplicationUserId == user.Id && un.NewsId == n.Id) != null;
        }
        @Html.Partial("_NewsCard", new NewsCardViewModel
        {
            News = n,
            Favorited = favorited
        })

    }
</div>

